<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Membership Request</title>
  </head>

  <body>
    <h2>Hi Bravemumma,</h2>
    <p>There has been a request to join the Bravemummahood!</p>
    <h4>First Name:</h4>
    <p>{{firstname}}</p>
    <h4>Last Name:</h4>
    <p>{{lastname}}</p>
    <h4>Email Address:</h4>
    <p>{{emailaddress}}</p>
    {{#each results}}
      <h4>Question: {{this.question}}</h4>
      <p>Answer: {{this.answer}}</p>
    {{/each}}
    <div></div>
  </body>
</html>